* {
    margin: 0;
    padding: 0;
    font-family: poppins, sans-serif;
    box-sizing: flex;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #A7BFA9;
    color: white;
}

#header {
    width: 100%;
    height: 30vh;
    background-image: url(images/hea.jpg);
    background-size: cover;
    background-position: center;
    position: static;
}

.container {
    padding: 10px 10%;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 140px;

}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    background: white;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

.header-text h1 span {
    color: #99B197;
}

/*about section*/
#about {
    padding: 80px 0;
    background: #99B197;
    color: white;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 20px;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: white;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0%;
    height: 3px;
    background: white;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.3s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #A8C4AB;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/*portfolio section*/
#portfolio {
    padding: 50px 0;

}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(166, 185, 156, 0.6), #99B197);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #445F44;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #CCD1D1;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 2px solid #586e58;
    padding: 14px 50px;
    border-radius: 10px;
    text-decoration: none;
    color: #586e58;
    transition: background 0.5s;
    background: #99B197;
}

.btn:hover {
    background: #586e58;
    color: #A8C4AB;
    border: 2px solid #A8C4AB;
}

/* contact */

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 40px;
}

.contact-left p i {
    color: #586e58;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #445F44;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #586e58;
    transform: translateY(-5px);
}

.btn.btn2 {
    background: #99B197;
}

.contact-right form {
    width: 100%;

}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #99B197;
    padding: 15px;
    margin: 15px 0;
    color: #CCD1D1;
    border-radius: 6px;
    font-size: 18px;
}

form btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}


/* css mobilephone */
nav .fa-solid {
    display: none;
}

@media only screen and (max-width: 600px) {
    #header {
        background-image: url(images/phone.jpg);
    }

    .header-text {
        margin-top: 100%;
        font-size: 16px;
    }

    .header-text h1 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    nav .fa-solid {
        display: block;
        font-size: 25px;
    }

    nav ul {
        background: #99B197;
        position: fixed;
        top: 0;
        right: -350px;
        width: 350px;
        height: 200vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sub-title {
        font-size: 40px;
    }

    .about-col-1,
    .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .about-col-2 {
        font-size: 14px;
    }

    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }

    .contact-left,
    .contact-right {
        flex-basis: 100%;
    }
}

#msg {
    color: #586e58;
    margin-top: -40px;
    display: block;
}